<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
	<script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
    <script src="app.js"></script>
    <script src="bower_components/ngFx/dist/ngFx.min.js"></script>
    <script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
    
    <link type="text/css" rel="stylesheet" href="bower_components/angucomplete/angucomplete.css">
    <link type="text/css" rel="stylesheet" href="bower_components/angucomplete-alt/angucomplete-alt.css">
	<link type="text/css" rel="stylesheet" href="stylesheet.css"/>

</head>
<body ng-app="friendville" ng-controller="FarmController" >
<div class = "farm"> 
	<div ng-repeat="(key, value) in friends" class = "each-friend">
        <span class = "friend" ng-style = "{'background-image': 'url({{value.image}})'}">{{value.health.toString()}}</span>
        <div class = "stats"> 
            <div class="stat-title">
            <center> <font size=6> {{value.name}} </font></center>                     
            </div>

            <div class="stat-options">
                <table class="tables">
                    <tr> 
                        <td valign="top"> Text Message  (+50 Health): </td>
                        <td><input type="text" name="sms" ng-model = "sms">
                            <input ng-click="sendText(sms, value.phone, key, 50)" type="submit" value="Submit"> </td>
                    </tr>
                    <tr>
                        <td value="top"> Facebook Post (+40 Health): </td>
                        <td><input type="text" name="fbtag" ng-model = "fbtag">
                            <input ng-click="tagInFBPost(key, fbtag, 40)" type="submit" value="Submit"> </td>
                    </tr>
                    <tr>
                        <td value="top"> Twitter Message (+40 Health): </td>
                        <td><input type="text" name="twitterMessage" ng-model = "twitterMessage">
                            <input ng-click="sendTwitterMessage(value.twitterID, key, twitterMessage, 40)" type="submit" value="Submit"> </td>
                    </tr>
                    <tr>
                        <td value="top"> Public Tweet (+30 Health): </td>
                        <td><input type="text" name="tweet" ng-model = "tweet">
                            <input ng-click="tagInTweet(value.twitterName, key, tweet, 30)" type="submit" value="Submit"> </td>
                    </tr>
                </table>
            </div>

            <div class="additional-options">
            <button ng-click="deleteFriend(key)">Delete Friend</button>
            </div>
        </div>
	</div>
</div>

<div class="container" >
    <div class="menu">
    
        <h3 ng-click="toggle()">    ADD A FRIEND    </h3>
        
        <div ng-show="showMenu" class="submenu">

            Facebook:
            <div>
                <angucomplete-alt id="ex2" placeholder="Enter your friend's Facebook name" pause="300" selected-object="selectedFBFriend" local-data="fbFriends" search-fields="name" title-field="name" image-field="picture.data.url" minlength="1" input-class="form-control form-control-small" matchclass="highlight" />
            </div>
            <br>
            Twitter:
            <div>
                <angucomplete-alt id="ex2" placeholder="Enter your friend's Twitter name" pause="300" selected-object="selectedTwitterFriend" local-data="twitterFriends" search-fields="name" title-field="name" image-field="profile_image_url" minlength="1" input-class="form-control form-control-small" matchclass="highlight" />
            </div>
            <br>
            Phone: <br>
            <input class="form-control" type="tel" name="number" placeholder="Enter your friend's phone number" ng-model = "phone"><p>

            <input ng-click="addFriend()" type="submit" value="Submit">
        </div>
    </div>
</div>
        <div class="accountinfo" align="right">
            <a href="/account"><strong>Account Info</strong></a> | 
            <a href="/logout"><strong>Logout</strong> </a>
        </div>
</body>
</html>


</form>
