<!DOCTYPE html>
<html>
  <head>
    <title>Friendville - Account Info</title>
  </head>
  
  
<body background="pent.png">
<p>Facebook ID: <%= user.fbId %></p>
<p>Name: <%= user.name %></p>
<p>Email: <%= user.email %></p>

<% if (user.twitterID) {  %>
Twitter ID: <%= user.twitterID %>
<% } else { %>
<p> <a href="/auth/twitter">Link Your Twitter Account </a>
<% } %>

<p><a href="/app">Back</a> 

  </body>
</html>